main {
  flex: 1;
}

main ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  list-style: none;
}

@media (max-width: 650px) {
  main ul {
    grid-template-columns: 1fr;
  }
}

li.devItem {
  background-color: #fff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  padding: 20px;
}

li.devItem header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li.devItem header img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

li.devItem header .userInfo {
  margin-left: 10px;
}

.userInfo strong {
  display: block;
  font-size: 16px;
  color: #333;
}

.userInfo span {
  font-size: 13px;
  color: #999;
  margin-top: 2px;
}

li.devItem p {
  color: #666;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
}

li.devItem a {
  color: #8e4dff;
  font-size: 14px;
  text-decoration: none;
}

li.devItem a:hover {
  color: #5a2eac;
}
